<%= form_for @post do |f| %>
<div class="form-group">
  <%= f.label :date %>
  <%= f.date_field :date, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :rationale %>
  <%= f.text_area :rationale, class: "form-control" %>
</div>
<%= f.submit 'Save', class: "btn btn-primary btn-block" %>
<% end %>